Repository developerasun/myCodeBox-unity, pull requests merged in 2022-03, with the labels that each got.

#74 feat : Enemies 인터페이스, 기본 로직 추가
  miniProjects/meowRun/unity/Assets/Scripts/Player.cs
  miniProjects/meowRun/unity/Assets/Scripts/enemies/E_PARENT.cs
  miniProjects/meowRun/unity/Assets/Scripts/enemies/E_alien.cs
  miniProjects/meowRun/unity/Assets/Scripts/enemies/E_rat.cs
Labels: unity/c#, miniProject

#80 feat : intermediate scripting in Unity added
  basicScripts/Assets/materials/enemy.mat
  basicScripts/Assets/materials/enemy.mat.meta
  basicScripts/Assets/scripts/intermediate.meta
  basicScripts/Assets/scripts/intermediate/attributeScript.cs
  basicScripts/Assets/scripts/intermediate/attributeScript.cs.meta
  basicScripts/Assets/scripts/intermediate/coroutine.cs
  basicScripts/Assets/scripts/intermediate/coroutine.cs.meta
  basicScripts/Assets/scripts/intermediate/createEnemy.cs
  basicScripts/Assets/scripts/intermediate/createEnemy.cs.meta
  basicScripts/Assets/scripts/intermediate/delegate.meta
  basicScripts/Assets/scripts/intermediate/delegate/delegateScript.cs
  basicScripts/Assets/scripts/intermediate/delegate/delegateScript.cs.meta
  basicScripts/Assets/scripts/intermediate/delegate/multicast.cs
  basicScripts/Assets/scripts/intermediate/delegate/multicast.cs.meta
  basicScripts/Assets/scripts/intermediate/dictionary.cs
  basicScripts/Assets/scripts/intermediate/dictionary.cs.meta
  basicScripts/Assets/scripts/intermediate/inheritance.cs
  basicScripts/Assets/scripts/intermediate/inheritance.cs.meta
  basicScripts/Assets/scripts/intermediate/list.cs
  basicScripts/Assets/scripts/intermediate/list.cs.meta
  basicScripts/Assets/scripts/intermediate/overloading.cs
  basicScripts/Assets/scripts/intermediate/overloading.cs.meta
  basicScripts/Assets/scripts/intermediate/overriding.cs
  basicScripts/Assets/scripts/intermediate/overriding.cs.meta
  basicScripts/Assets/scripts/intermediate/property.cs
  basicScripts/Assets/scripts/intermediate/property.cs.meta
  basicScripts/Assets/scripts/intermediate/quaternion.meta
  basicScripts/Assets/scripts/intermediate/quaternion/lookAt.cs
  basicScripts/Assets/scripts/intermediate/quaternion/lookAt.cs.meta
  basicScripts/Assets/scripts/intermediate/quaternion/motion.cs
  basicScripts/Assets/scripts/intermediate/quaternion/motion.cs.meta
  basicScripts/Assets/scripts/intermediate/quaternion/quaternions.cs
  basicScripts/Assets/scripts/intermediate/quaternion/quaternions.cs.meta
  basicScripts/Assets/scripts/intermediate/quaternion/slerp.cs
  basicScripts/Assets/scripts/intermediate/quaternion/slerp.cs.meta
  basicScripts/Assets/scripts/intermediate/staticVar.cs
  basicScripts/Assets/scripts/intermediate/staticVar.cs.meta
  basicScripts/Assets/scripts/intermediate/ternary.cs
  basicScripts/Assets/scripts/intermediate/ternary.cs.meta
  basicScripts/Assets/scripts/intermediate/useInterface.cs
  basicScripts/Assets/scripts/intermediate/useInterface.cs.meta
  basicScripts/Assets/scripts/intermediate/useProperty.cs
  basicScripts/Assets/scripts/intermediate/useProperty.cs.meta
  miniProjects/meowRun/unity/readme.md
Labels: c#/script

#84 refactor : player state
  miniProjects/meowRun/unity/Assets/Animation/Player/Player.controller
  miniProjects/meowRun/unity/Assets/Prefabs/grass floor.prefab
  miniProjects/meowRun/unity/Assets/Scenes/levels/easy.unity
  miniProjects/meowRun/unity/Assets/Scripts/Player.cs
  miniProjects/meowRun/unity/Assets/Scripts/Player_old.cs
  miniProjects/meowRun/unity/Assets/Scripts/Player_old.cs.meta
  miniProjects/meowRun/unity/Assets/Scripts/manager.meta
  miniProjects/meowRun/unity/Assets/Scripts/manager/AudioManager.cs
  miniProjects/meowRun/unity/Assets/Scripts/manager/AudioManager.cs.meta
  miniProjects/meowRun/unity/Assets/Scripts/manager/CameraManager.cs
  miniProjects/meowRun/unity/Assets/Scripts/manager/CameraManager.cs.meta
  miniProjects/meowRun/unity/Assets/Scripts/manager/GameManager.cs
  miniProjects/meowRun/unity/Assets/Scripts/manager/GameManager.cs.meta
  miniProjects/meowRun/unity/Assets/Scripts/manager/SoundManager.cs
  miniProjects/meowRun/unity/Assets/Scripts/manager/SoundManager.cs.meta
Labels: c#/script, miniProject

#89 feat: enemy/player 탐지 상태, updateState/Track 메소드 구체화
  miniProjects/meowRun/unity/Assets/Scripts/enemies/E_PARENT.cs
  miniProjects/meowRun/unity/Assets/Scripts/enemies/E_rat.cs
Labels: c#/script, miniProject

#90 feat : add jump, damaged state & damaged animation
  miniProjects/meowRun/unity/Assets/Animation/Player/Player.controller
  miniProjects/meowRun/unity/Assets/Animation/Player/playerDamaged.anim
  miniProjects/meowRun/unity/Assets/Animation/Player/playerDamaged.anim.meta
  miniProjects/meowRun/unity/Assets/Assets/character/Lowpoly Toon Cat Lite/Model/Cat Lite.fbx.meta
  miniProjects/meowRun/unity/Assets/Materials/damaged.mat
  miniProjects/meowRun/unity/Assets/Materials/damaged.mat.meta
  miniProjects/meowRun/unity/Assets/Scenes/levels/easy.unity
  miniProjects/meowRun/unity/Assets/Scripts/Player.cs
Labels: c#/script, miniProject
